<div class="card-venue-category">
  <%= cl_image_tag @venue.photo.key %>
  <div class="card-venue-info">
    <h5><%= @venue.name %></h5>
    <p>hosted by Sergio</p>
    <div class="card-venue-time">
      <p><%= @venue.day_of_the_week.upcase %> at</p>
      <p><%= @venue.time.strftime('%H:%M') %></p>
    </div>
    <p>
      <i class="fa-sharp fa-solid fa-location-dot"></i>
      <%= @venue.address.partition(" London ").first%>
      <%= @venue.address.partition(" London ").last%>
    </p>
    <p>
      <i class="fa-solid fa-square-phone"></i>
      <%= @venue.phone_number %>
    </p>
  </div>
</div>
