
<%= form_for @quizmaster do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :profile %>
  <%= form.text_area :profile %>
  <%= form.label :photo %>
  <%= form.file_field :photo %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <% @quizmaster.venues.each do |venue| %>
  <%= form.fields_for :gigs, @quizmaster.gigs do |gig_fields| %>
    <div class="form-check">
      <%= gig_fields.check_box :venue_id, {}, venue.id, nil %>
      <%= gig_fields.label :venue_id, venue.name, class: "form-check-label" %>
    </div>
  <% end %>
  <% end %>
  <%= form.submit %>
<% end %>
