<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo-navbar" %>
    <% end %>

    <a href="#" class="hamburger-menu" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="navbar-toggler-icon hamburger-lines"></span>
    </a>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "Quizzing", "#{root_path}#quizzing-section", class: "dropdown-item" %>
        <%= link_to "Karaoke", "#{root_path}#karaoke-section", class: "dropdown-item" %>
        <%= link_to "Who we are", "#{root_path}#who-we-are-section", class: "dropdown-item" %>
        <%= link_to "Access Quizdex", "#{root_path}#contact-section", class: "dropdown-item" %>
      </div>
  </div>
</div>
