<div class="navbar navbar-expand-sm navbar-light navbar-quiz-dog">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logos/28.jpg", class: "navbar-logo" %>
    <% end %>

    <a href="#" class="hamburger-menu" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="navbar-toggler-icon hamburger-lines"></span>
    </a>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "Quizzing", root_path(anchor: 'quizzing-section'), class: "dropdown-item" %>
        <%= link_to "Karaoke", root_path(anchor: 'karaoke-section'), class: "dropdown-item" %>
        <%= link_to "Who we are", root_path(anchor: 'who-we-are-section'), class: "dropdown-item" %>
        <%= link_to "Access Quizdex", "#{root_path}#contact-section", class: "dropdown-item" %>
        <%= link_to "Contact Us", contact_us_path, class: "dropdown-item" %>
      </div>
  </div>
</div>
