
<%= form_for @quizmaster do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :profile %>
  <%= form.text_area :profile %>
  <%= form.label :photo %>
  <%= form.file_field :photo %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="form-group">
    <%= form.collection_check_boxes :venue_ids, Venue.all, :id, :name do |cb| %>
      <div class="form-check">
        <%= cb.check_box %>
        <%= cb.label %>
      </div>
    <% end %>
  </div>

  <%= form.submit %>
<% end %>
