<h1>Quiz Dog - Admin</h1>

<% @venues.each do |venue| %>
  <h1><%= venue.name %></h1>
  <p><%= venue.address %></p>
  <p><%= venue.phone_number %></p>
  <%= link_to "Edit", edit_venue_path(venue) %>
  <%= link_to "Delete", venue_path(venue), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
<% end %>


<%= render "shared/form", venue: @venue %>
