
<div class="container">
  <h1>QUIZDOG - ADMIN</h1>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Venues</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Quizmasters</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <h2>VENUES</h2>
      <%= link_to "Create a new VENUE!", new_venue_path %>
        <div class="admin-container-cards">
          <% @venues.each do |venue| %>
            <h2><%= venue.name %></h2>
            <p><%= venue.address %></p>
            <p><%= venue.phone_number %></p>
            <p><%= venue.day_of_the_week %></p>
            <p><%= venue.time %></p>
            <% if venue.photo.key %>
              <%= cl_image_tag venue.photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
            <%= link_to "Edit", edit_venue_path(venue) %>
            <%= link_to "Delete", venue_path(venue), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
          <% end %>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <h2>QUIZMASTERS</h2>
      <%= link_to "Create a new QUIZMASTER!", new_quizmaster_path %>
      <% @quizmasters.each do |quizmaster| %>
        <h2><%= quizmaster.name %></h2>
        <p><%= quizmaster.profile %></p>
          <% quizmaster.venues.each do |venue| %>
            <p><%= venue.name %></p>
          <% end %>
        <%= link_to "Edit", edit_quizmaster_path(quizmaster) %>
        <%= link_to "Delete", quizmaster_path(quizmaster), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
      <% end %>
    </div>
  </div>
</div>
