
<div class="container">
  <h1 class="d-flex justify-content-center mb-1">QUIZDOG ADMIN</h1>
  <div class="w-20 d-flex justify-content-center">
    <%= link_to "Log out", destroy_user_session_path, class: "btn btn-danger top-buttons", data: {turbo_method: :delete} %>
    <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary top-buttons" %>
  </div>
  <%# VENUES TAB SECTION %>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"><h6>Venues</h6></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false"><h6>Quizmasters</h6></button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <%= link_to "Add a VENUE!", new_venue_path, class: "btn btn-success btn-create" %>
      <%# VENUE CARDS %>
      <div class="container-venues-map d-flex pt-2 pl-3 pr-3 pb-3">
        <div class="cards">
          <%= render partial: 'venues/venue', collection: @venues, locals: { show_edit_delete_buttons: false } %>
        </div>
      </div>
    </div>

    <%# QUIZMASTER TAB %>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <%= link_to "Add a QUIZMASTER!", new_quizmaster_path, class: "btn btn-success btn-create" %>
      <%# Quizmaster Cards %>
      <div class="container-fluid row justify-content-center">
        <%= render partial: 'quizmasters/quizmaster', collection: @quizmasters, locals: { admin_page: true } %>
      </div>
    </div>
  </div>
</div>

<div class="empty-space-responsive"></div>
