<div class="banner-container">
  <div class="page-banner banner-contact-us">
    <div class="empty-space-responsive"></div>
    <div class="col-10 d-flex justify-content-center">
      <%= image_tag("logos/logo.png", class: "contact-us-logo", alt: "quizdog logo") %>
    </div>
    <h1 class="page-title title-contact-us">CONTACT US</h1>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center align-items-start">
    <div class="col-sm-12 col-md-6 col-lg-4 form-container">
      <%= simple_form_for @message, data: { turbo: false } do |form| %>
        <%= form.input :name %>
        <%= form.input :email %>
        <%= form.input :number %>
        <%= form.input :message %>

        <div class="d-flex flex-column align-items-center">
          <%= recaptcha_tags %>
          <%= form.button :submit, "Send Message", class: "btn button-rounded-red" %>
        </div>
      <% end %>
      <div class="empty-space-responsive"></div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 text-bubble text-bubble-red d-flex flex-column justify-content-center social-message-container mt-4">
      <%= render "pages/partials/social_media" %>
      <p class="empty-line"></p>
      <p>
        Want to work with us? Want to work for us? Want to know more about us?
        Please get in contact with any questions, we are here to help!
        Or fill out the form
      </p>
      <p class="empty-line"></p>
      <p><strong>Email: info@quiz.dog</strong></p>
      <p class="empty-line"></p>
      <p><strong>Phone: +44 (0) 7966 663 693</strong></p>
    </div>
  </div>
</div>

<div class="empty-space-responsive"></div>
