<div class="banner-container">
  <div class="page-banner banner-contact-us">
    <div class="space-one-rem"></div>
    <div class="col-10 d-flex justify-content-center">
      <%= image_tag("logos/logo.png", class: "contact-us-logo", alt: "quizdog logo") %>
    </div>
    <h1 class="title-contact-us">CONTACT US</h1>
  </div>
</div>

<%= simple_form_for @message do |form| %>
  <%= form.input :name %>
  <%= form.input :email %>
  <%= form.input :number %>
  <%= form.input :message %>
  <%= form.button :submit, "Send Message", class: "btn btn-success" %>
<% end %>
