<div class="banner-container">
  <div class="page-banner">
    <h1 class="page-title title-red">CONTACT US</h1>
  </div>
</div>

<%= simple_form_for @message do |form| %>
  <%= form.input :name %>
  <%= form.input :email %>
  <%= form.input :number %>
  <%= form.input :message %>
  <%= form.button :submit, "Send Message", class: "btn btn-success" %>
<% end %>
