<div class="banner-container">
  <div class="page-banner banner-image-corporate">
    <h1 class="page-title title-corporate">CORPORATE QUIZZES</h1>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <h3 class="text-center">"AN EVENT IS NOT OVER UNTIL EVERYONE IS TIRED OF TALKING ABOUT IT" - Mason Cooley</h3>
</div>

<div class="container">
  <div class="text-bubble text-bubble-yellow">
    <p>
      Standup comedy is good, bands are fun, but there’s no better corporate event than a properly organised quiz.
      Whether it’s breaking the ice with the new guy, building bridges with sales, or getting into a heated debate about the countries of South America with the CEO, a quiz is the best leveller out there.
    </p>
    <p class="empty-line"></p>
    <p>
      We are proud to say we tailor each quiz to cater for the wishes of every single client ensuring a roaring good time.
      Our quizzing technology means we can perform quizzes for many more people than pen and paper,  having hosted fantastic events for 500+ people.
    </p>
    <p class="empty-line"></p>
    <p>
      To find out more information, including pricing, please contact us here.
    </p>
  </div>
</div>

<hr class="dividing-line-black">

<div class="container d-flex justify-content-center">
  <h3>WHO WE HAVE HOSTED FOR</h3>
</div>

<div class="company-logos-container">
  <%= image_tag "corporate/company_logos/8.jpg", class: "company-logo", alt: "Skin + Me logo" %>
  <%= image_tag "corporate/company_logos/9.jpg", class: "company-logo", alt: "CBRE logo" %>
  <%= image_tag "corporate/company_logos/10.jpg", class: "company-logo", alt: "Wagamama logo" %>
  <%= image_tag "corporate/company_logos/11.jpg", class: "company-logo", alt: "Norges Bank logo" %>
  <%= image_tag "corporate/company_logos/12.jpg", class: "company-logo", alt: "The Independent logo" %>
  <%= image_tag "corporate/company_logos/13.jpg", class: "company-logo", alt: "Multiplex logo" %>
  <%= image_tag "corporate/company_logos/14.jpg", class: "company-logo", alt: "Napster logo" %>
  <%= image_tag "corporate/company_logos/15.jpg", class: "company-logo", alt: "AON logo" %>
  <%= image_tag "corporate/company_logos/16.jpg", class: "company-logo", alt: "BNP Paribas logo" %>
  <%= image_tag "corporate/company_logos/17.jpg", class: "company-logo", alt: "AM Trust logo" %>
  <%= image_tag "corporate/company_logos/18.jpg", class: "company-logo", alt: "VeraCross logo" %>
  <%= image_tag "corporate/company_logos/19.jpg", class: "company-logo", alt: "NHS logo" %>
  <%= image_tag "corporate/company_logos/20.jpg", class: "company-logo", alt: "Good Law Project logo" %>
  <%= image_tag "corporate/company_logos/21.jpg", class: "company-logo", alt: "Trivial Pursuit logo" %>
  <%= image_tag "corporate/company_logos/22.jpg", class: "company-logo", alt: "Nintendo logo" %>
</div>

<div class="empty-space-responsive"></div>

<div class="container justify-content-center">
  <div class="row align-items-center">
    <div class="shauna-card col-5 col-md-4 col-lg-3">
      <%= image_tag("quizmasters/1.jpg", alt: "Picture of Shuana Thompson from Multiplex ", class: "shuana-pic") %>
      <div class="shauna-title-section">
        <h4> MULTIPLEX </h4>
        <p class="text-center">Shauna Thompson</p>
      </div>
    </div>
    <div class="text-bubble text-bubble-yellow col-7 col-md-8 col-lg-9">
      <p>
        “Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna, joe is wicked, Lorem
          ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et
          dolore magna”
      </p>
    </div>
  </div>
</div>
