<div class="banner-container">
  <div class="page-banner banner-image-corporate">
    <h1 class="page-title title-corporate">CORPORATE QUIZZES</h1>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <h3 class="text-center col-12 col-md-8 col-lg-8 mx-auto">"AN EVENT IS NOT OVER UNTIL EVERYONE IS TIRED OF TALKING ABOUT IT" - Mason Cooley</h3>
</div>

<div class="container">
  <div class="text-bubble text-bubble-yellow col-12 col-md-8 col-lg-8 mx-auto">
    <p>
      Standup comedy is good, bands are fun, but there’s no better corporate event than a properly organised quiz.
      Whether it’s breaking the ice with the new guy, building bridges with sales, or getting into a heated debate about the countries of South America with the CEO, a quiz is the best leveller out there.
    </p>
    <p class="empty-line"></p>
    <p>
      We are proud to say we tailor each quiz to cater for the wishes of every single client ensuring a roaring good time.
      Our quizzing technology means we can perform quizzes for many more people than pen and paper,  having hosted fantastic events for 500+ people.
    </p>
    <p class="empty-line"></p>
    <p>
      To find out more information, including pricing, please contact us here.
    </p>
  </div>
</div>

<hr class="dividing-line-black">

<div class="container d-flex justify-content-center">
  <h3>WHO WE HAVE HOSTED FOR</h3>
</div>

<div class="logos">
  <div class="logos-slide">
    <%= image_tag "corporate/company_logos/8.png", class: "company-logo", alt: "Skin + Me logo" %>
    <%= image_tag "corporate/company_logos/9.png", class: "company-logo", alt: "CBRE logo" %>
    <%= image_tag "corporate/company_logos/10.png", class: "company-logo", alt: "Wagamama logo" %>
    <%= image_tag "corporate/company_logos/15.png", class: "company-logo", alt: "AON logo" %>
    <%= image_tag "corporate/company_logos/11.png", class: "company-logo", alt: "Norges Bank logo" %>
    <%= image_tag "corporate/company_logos/17.png", class: "company-logo", alt: "AM Trust logo" %>
    <%= image_tag "corporate/company_logos/12.png", class: "company-logo", alt: "The Independent logo" %>
    <%= image_tag "corporate/company_logos/20.png", class: "company-logo", alt: "Good Law Project logo" %>
    <%= image_tag "corporate/company_logos/13.png", class: "company-logo", alt: "Multiplex logo" %>
    <%= image_tag "corporate/company_logos/14.png", class: "company-logo", alt: "Napster logo" %>
    <%= image_tag "corporate/company_logos/16.png", class: "company-logo logo-paribas", alt: "BNP Paribas logo" %>
    <%= image_tag "corporate/company_logos/19.png", class: "company-logo", alt: "NHS logo" %>
    <%= image_tag "corporate/company_logos/18.png", class: "company-logo", alt: "VeraCross logo" %>
    <%= image_tag "corporate/company_logos/21.png", class: "company-logo", alt: "Trivial Pursuit logo" %>
    <%= image_tag "corporate/company_logos/22.png", class: "company-logo", alt: "Nintendo logo" %>
  </div>
  <div class="logos-slide">
    <%= image_tag "corporate/company_logos/8.png", class: "company-logo", alt: "Skin + Me logo" %>
    <%= image_tag "corporate/company_logos/9.png", class: "company-logo", alt: "CBRE logo" %>
    <%= image_tag "corporate/company_logos/10.png", class: "company-logo", alt: "Wagamama logo" %>
    <%= image_tag "corporate/company_logos/15.png", class: "company-logo", alt: "AON logo" %>
    <%= image_tag "corporate/company_logos/11.png", class: "company-logo", alt: "Norges Bank logo" %>
    <%= image_tag "corporate/company_logos/17.png", class: "company-logo", alt: "AM Trust logo" %>
    <%= image_tag "corporate/company_logos/12.png", class: "company-logo", alt: "The Independent logo" %>
    <%= image_tag "corporate/company_logos/20.png", class: "company-logo", alt: "Good Law Project logo" %>
    <%= image_tag "corporate/company_logos/13.png", class: "company-logo", alt: "Multiplex logo" %>
    <%= image_tag "corporate/company_logos/14.png", class: "company-logo", alt: "Napster logo" %>
    <%= image_tag "corporate/company_logos/16.png", class: "company-logo logo-paribas", alt: "BNP Paribas logo" %>
    <%= image_tag "corporate/company_logos/19.png", class: "company-logo", alt: "NHS logo" %>
    <%= image_tag "corporate/company_logos/18.png", class: "company-logo", alt: "VeraCross logo" %>
    <%= image_tag "corporate/company_logos/21.png", class: "company-logo", alt: "Trivial Pursuit logo" %>
    <%= image_tag "corporate/company_logos/22.png", class: "company-logo", alt: "Nintendo logo" %>
  </div>
</div>

<div class="empty-space-responsive"></div>

<div class="container">
  <div class="row align-items-center justify-content-evenly">
    <div class="testimonial-card col-4 col-md-3 col-lg-2">
      <%= image_tag("quizmasters/1.jpg", alt: "Picture of Shuana Thompson from Multiplex ", class: "shuana-pic") %>
      <div class="testimonial-title-section testimonial-title-peach">
        <h4> MULTIPLEX </h4>
        <p class="text-center">Shauna Thompson</p>
      </div>
    </div>
    <div class="text-bubble text-bubble-yellow col-6 col-md-7 col-lg-8">
      <p>
        “Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna, joe is wicked, Lorem
          ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et
          dolore magna”
      </p>
    </div>
  </div>
</div>

<hr class="dividing-line-black">

<div class="container corporate-sustainability justify-content-center">
  <div class="d-flex justify-content-center">
    <h3>SUSTAINABILITY</h3>
  </div>
  <div class="text-bubble text-bubble-yellow col-12 col-md-8 col-lg-8 mx-auto">
    <p>
      We know that sustainability is important to every company. We can help your
      company go the extra mile at your company event with our sustainable online answer sheets.
      See what else we are doing to improve our carbon footprint <%= link_to "here", sustainability_path %>.
    </p>
  </div>
</div>

<%= image_tag "corporate/corporate_sustainability.jpg", class: "corporate-sustainability-img", alt: "Corporate quiz event" %>

<hr class="dividing-line-black">

<div class="container corporate-virtual">
  <div class="row flex-column align-items-center">
    <div class="d-flex justify-content-center">
      <h3>VIRTUAL</h3>
    </div>
    <div class="text-bubble text-bubble-yellow col-12 col-md-8 col-lg-8">
      <p>
        Just because your workforce is spread across the world is absolutely no reason why
        you can’t enjoy a good quiz. We have hosted huge events of well over a 200
        people on Zoom and lockdown meant we had plenty of time to hone the event to a fine art!
      </p>
      <p class="empty-line"></p>
      <p>
        All you need is a computer and a camera, and away we go.
      </p>
      <p class="empty-line"></p>
      <p>
        We also have options of hybrid quizzes where half the contestants are there in
        person, the other half playing online.
      </p>
      <p class="empty-line"></p>
      <p>
        For more information, please contact us.
      </p>
    </div>
  </div>
</div>

<%= image_tag "corporate/corporate_virtual.jpg", class: "corporate-virtual-img", alt: "Quizzing on a laptop" %>
