
<%# CAROUSEL WITH BACKGROUND IMAGES + LOGO AND BUTTONS %>
<div class="top mb-5">
  <div id="home-page-carousel" class="carousel slide" data-bs-ride="carousel" data-pause="false">
    <div class="carousel-inner">
      <div class="carousel-item carousel-image bg-img-1 active"></div>
      <div class="carousel-item carousel-image bg-img-2"></div>
      <div class="carousel-item carousel-image bg-img-3"></div>
    </div>
    <div class="row home-page-buttons justify-content-center mt-3">
      <div class="col-10 d-flex justify-content-center">
        <%= image_tag("logo.png", class: "logo mb-3 mt-5 img-fluid", alt: "quizmaster logo") %>
      </div>
      <div class="col-md-12 col-sm-12 d-flex justify-content-center btn-block">
        <h5 class="btn-red"><%= link_to 'FIND A QUIZ', venues_path %></h5>
      </div>
      <div class="col-md-12 col-sm-12 d-flex justify-content-center">
        <h5 class="btn-red"><%= link_to 'START A QUIZ!', start_a_quiz_path %></h5>
      </div>
      <div class="col-md-12 col-sm-12 d-flex justify-content-center">
        <h5 class="btn-red"><%= link_to 'HOST YOUR OWN', host_your_own_path %></h5>
      </div>
    </div>
  </div>
</div>

<hr class="dividing-line-black">
<%# QUIZZING SECTION %>
<div id="quizzing-section" class="d-flex mt-5 mb-5 flex-column container-fluid">
  <h1 class="d-flex justify-content-center mb-3">QUIZZING</h1>

<%# CAROUSEL FOR QUIZZING CATEGORIES %>
  <div id="quizzing-categories-carousel" class="carousel" data-interval="false">
    <div class="carousel-inner" data-controller="multiple-images">
      <div class="carousel-item active" data-multiple-images-target="card1">
        <div class="card category-card m-2 col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent">
          <%= link_to venues_path do %>
          <div class="quizzing-category-img-1 category-image position-relative">
            <h4 class="card-title font-weight-bold align-self-end">PUBS</h4>
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <% end %>
        </div>
      </div>
      <div class="carousel-item" data-multiple-images-target="card2">
        <div class="card category-card m-2 col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent">
          <%= link_to corporate_path do %>
          <div class="quizzing-category-img-2 category-image position-relative">
            <h4 class="card-title font-weight-bold align-self-end">CORPORATE</h4>
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. </p>
          </div>
          <% end %>
        </div>
      </div>
      <div class="carousel-item" data-multiple-images-target="card3">
        <div class="card category-card m-2 col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent">
          <%= link_to charity_path do %>
          <div class="quizzing-category-img-3 category-image position-relative">
            <h4 class="card-title font-weight-bold align-self-end">CHARITY</h4>
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <% end %>
        </div>
      </div>
      <div class="carousel-item" data-multiple-images-target="card4">
        <div class="card category-card m-2 col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent">
          <%= link_to private_path do %>
          <div class="quizzing-category-img-4 category-image position-relative">
            <h4 class="card-title font-weight-bold align-self-end">PRIVATE</h4>
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <% end %>
        </div>
      </div>
      <div class="carousel-item" data-multiple-images-target="card5">
        <div class="card category-card m-2 col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent">
          <%= link_to virtual_path do %>
          <div class="quizzing-category-img-5 category-image position-relative">
            <h4 class="card-title font-weight-bold align-self-end">VIRTUAL</h4>
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#quizzing-categories-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#quizzing-categories-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<%# END OF CAROUSEL %>
  </div>
</div>

<hr class="dividing-line-black">

<%# KARAOKE SECTION %>
<div id="karaoke-section" class="d-flex mt-5 mb-5 flex-column container-fluid">
  <h1 class="d-flex justify-content-center mb-3">KARAOKE</h1>

    <div class="row category-cards karaoke-cards gx-0 justify-content-center">

      <div class="card category-card karaoke-card m-2 col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent d-flex">
        <%= link_to corporate_karaoke_path do %>
        <div class="quizzing-category-img-1 category-image position-relative">
          <h4 class="card-title font-weight-bold align-self-end">CORPORATE</h4>
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <% end %>
      </div>


      <div class="card category-card karaoke-card m-2 col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent">
        <%= link_to piano_karaoke_path do %>
        <div class="quizzing-category-img-2 category-image position-relative">
          <h4 class="card-title font-weight-bold align-self-end">PIANO</h4>
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. </p>
        </div>
        <% end %>
      </div>

    </div>
</div>

<%# WHO WE ARE SECTION %>
<div id="who-we-are-section" class="d-flex flex-column align-items-center container-lg">
  <h1 class="d-flex justify-content-center">WHO WE ARE</h1>

  <div class="col-lg-8 col-md-8 col-sm-12 d-flex flex-column">
    <h2 class="d-flex justify-content-center">JOE AND DOGS</h2>
    <div class="text-bubble">
      <p class="d-flex justify-content-center"> Quiz Dog was founded in 2019 (a historically brilliant year to start any business) after Joe had worked for many years in the industry. We wanted to do things differently. Focussing on fun, sustainability, and dynamic hosting. </p>
      <p>Starting in Peckham and Deptford, we now span across the capital (and even have an event in the USA). Our goal is to expand across the country and beyond, providing the best quizzing event it’s possible to have.</p>
      <p class="mb-0">Where do dogs come into it? Joe likes dogs. It’s as simple as that. Just so happens that we are just like a pack of playful, adventurous, ol' faithfuls ourselves. Please bring your dogs along to the quiz. They’ll be on Instagram immediately!</p>
    </div>
  </div>

  <%# (link to Instagram here) %>

  <h2 class="mt-5 mb-3">OUR HOSTS</h1>
  <%# Quizmaster Cards %>
  <div class="cards">
    <% @quizmasters.each do |quizmaster| %>
    <div class="quizmaster-card">
      <%= cl_image_tag quizmaster.photo.key %>
      <h4><%= quizmaster.name %></h4>
      <p><%= quizmaster.profile %></p>
    </div>
    <% end %>
  </div>
</div>

<h1>SUSTAINABILITY</h1>
<h4>Carbon Footprintp</h4>
<p>
  We take our environmental duties very seriously here at Quiz Dog. Between answer sheets and ink for picture rounds, the carbon footprint of a quiz can expand to those sasquatch prints in the snow.
  We decided to make a difference and put everything online. No easy task given the access to Google, but with our anti-cheating measures, we are confident we have the greenest events company on the market. We are always looking for ways in which we can go even further with lessening our environmental impact and are striving for complete carbon neutrality.
</p>

<h4>Planting trees, ecologi online</h4>

<p>
  One of the ways in which we are doing our bit for mother earth is by promising to plant a tree for every corporate client we have playing the quiz. This is done in partnership with the amazing people over at Ecologi (a B-Corps certificate company).
  Click here to see how many trees we’ve planted!
</p>

<div id="contact-section" class="d-flex flex-column container-lg align-center">
  <h1 class="d-flex justify-content-center">CONTACT QUIZDOG</h1>
</div>
<%# TESTIMONIALS %>
<%# <div class="row justify-content-evenly bg-success">
  <div class="col-3">
    <div class="home-testimonial-card">
      <p> "Confident and proud to say that we've got the best quiz in Deptford." Gina, Manager at the Brookmill </p>
      <%= image_tag("gina.png", class: "avatar") %>
    <%# </div>
  </div> %>

  <%# <div class="col-3">
     <div class="home-testimonial-card">
      <p> "Confident and proud to say that we've got the best quiz in Deptford." Gina, Manager at the Brookmill </p>
      <%= image_tag("gina.png", class: "avatar") %>
    <%# </div>
  </div> %>

   <%# <div class="col-3">
     <div class="home-testimonial-card">
      <p> "Confident and proud to say that we've got the best quiz in Deptford." Gina, Manager at the Brookmill </p>
      <%= image_tag("gina.png", class: "avatar") %>
    <%# </div>
  </div>
</div> %>
