

<div class="banner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 d-flex justify-content-center">
        <%= image_tag("logo.png", class: "logo mb-1 mt-1", alt: "quizmaster logo") %>
      </div>
    </div>
    <div class="homepage-body">
      <h2>Fancy the funnest challenge you can have in a pub? Fancy winning loads of prizes? Fancy learning something whilst damaging close friendships?</h2>
      <h2>Sick of the same egg heads winning every week?</h2>
      <h2>If yes, Quiz Dog has you covered.</h2>
      <h2>We have venues all across London (and one in America) that blow the rest out of the water.</h2>
      <h2>Everything’s done on your phone too, because we want to save this planet one sheet of paper at a time! And with our anti-cheating measures, you can’t lose (unless you score fewer points than the other teams)!!!</h2>
      <h2>Check our venues page to find your closest Quiz Dog event.</h2>
    </div>
    <div class="row home-page-buttons">
      <div class="col-md-3 col-sm-12 d-flex justify-content-center">
        <h5 class="button-quizdog-primary">PUBS</h5>
      </div>
      <div class="col-md-3 col-sm-12 d-flex justify-content-center">
        <h5 class="button-quizdog-primary">CORPORATE</h5>
      </div>
      <div class="col-md-3 col-sm-12 d-flex justify-content-center">
        <h5 class="button-quizdog-primary">CHARITY</h5>
      </div>
      <div class="col-md-3 col-sm-12 d-flex justify-content-center">
        <h5 class="button-quizdog-primary">PRIVATE EVENTS</h5>
      </div>
      <div class="col-md-3 col-sm-12 d-flex justify-content-center">
        <h5 class="button-quizdog-primary">VIRTUAL</h5>
      </div>
    </div>

  </div>
</div>


<%# <div class="row justify-content-evenly bg-success">
  <div class="col-3">
    <div class="home-testimonial-card">
      <p> "Confident and proud to say that we've got the best quiz in Deptford." Gina, Manager at the Brookmill </p>
      <%= image_tag("gina.png", class: "avatar") %>
    <%# </div>
  </div> %>

  <%# <div class="col-3">
     <div class="home-testimonial-card">
      <p> "Confident and proud to say that we've got the best quiz in Deptford." Gina, Manager at the Brookmill </p>
      <%= image_tag("gina.png", class: "avatar") %>
    <%# </div>
  </div> %>

   <%# <div class="col-3">
     <div class="home-testimonial-card">
      <p> "Confident and proud to say that we've got the best quiz in Deptford." Gina, Manager at the Brookmill </p>
      <%= image_tag("gina.png", class: "avatar") %>
    <%# </div>
  </div>
</div> %>

<h1>Our pubs</h1>

<div class="container-venues-map">
  <div class="cards">
    <% @venues.each do |venue| %>
    <div class="card-venue-category">
      <% if venue.photo %>
      <%= cl_image_tag venue.photo.key %>
      <% end %>
      <div class="card-venue-info">
        <h5><%= venue.name %></h5>
        <p>hosted by <%= link_to venue.quizmaster.name, quizmaster_path(venue.quizmaster) %>
          <%# <%= cl_image_tag venue.quizmaster.photo.key %>
        </p>
        <div class="card-venue-time">
          <p><%= venue.day_of_the_week.upcase %> at</p>
          <p><%= venue.time.strftime('%H:%M') %></p>
        </div>
        <p>
          <%# <i class="fa-sharp fa-solid fa-location-dot"></i> %>
          <%= venue.address.partition(" London ").first%>
          <%= venue.address.partition(" London ").last%>
        </p>
        <p>
          <%# <i class="fa-solid fa-square-phone"></i> %>
          <%= venue.phone_number %>
        </p>
      </div>
    </div>
    <% end %>
  </div>

  <div id="map" style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
