
<%# CAROUSEL WITH BACKGROUND IMAGES + LOGO AND BUTTONS %>
<div class="top">
  <div id="home-page-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false">
    <div class="carousel-inner">
      <div class="carousel-item carousel-image bg-img-1 active"></div>
      <div class="carousel-item carousel-image bg-img-2"></div>
      <div class="carousel-item carousel-image bg-img-3"></div>
      <div class="carousel-item carousel-image bg-img-4"></div>
      <div class="carousel-item carousel-image bg-img-5"></div>
      <div class="carousel-item carousel-image bg-img-6"></div>
      <div class="carousel-item carousel-image bg-img-7"></div>
      <div class="carousel-item carousel-image bg-img-8"></div>
      <div class="carousel-item carousel-image bg-img-9"></div>
    </div>
    <div class="row home-page-buttons justify-content-center mt-3">
      <div class="col-10 d-flex justify-content-center">
        <%= image_tag("logos/logo.png", class: "logo mb-3 mt-5 img-fluid", alt: "quizmaster logo") %>
      </div>
      <%= link_to venues_path do %>
        <div class="col-md-12 col-sm-12 d-flex justify-content-center btn-block">
          <h5 class="btn-red">FIND A QUIZ</h5>
        </div>
      <% end %>
      <%= link_to start_a_quiz_path do %>
        <div class="col-md-12 col-sm-12 d-flex justify-content-center">
          <h5 class="btn-red">START A QUIZ!</h5>
        </div>
      <% end %>
      <%= link_to host_your_own_path do %>
        <div class="col-md-12 col-sm-12 d-flex justify-content-center">
          <h5 class="btn-red">HOST YOUR OWN</h5>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%# QUIZZING SECTION %>
<div id="quizzing-section" class="mt-4 mb-4 container-fluid">
  <h1>QUIZZING</h1>

<%# CAROUSEL FOR QUIZZING CATEGORIES %>
  <div id="quizzing-categories-carousel" class="carousel" data-interval="false">
    <div class="carousel-inner" data-controller="multiple-images">
      <div class="carousel-item active" data-multiple-images-target="card1">
        <div class="card category-card col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent">
          <%= link_to venues_path do %>
          <%= image_tag("landing_page/quizzing_section/2.jpg", class: "card-img", alt: "Card image") %>
          <div class="card-img-overlay category-card-image">
            <h4 class="card-title font-weight-bold">PUBS</h4>
          </div>
          <% end %>
        </div>
      </div>
      <div class="carousel-item" data-multiple-images-target="card2">
        <div class="card category-card col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent">
          <%= link_to venues_path do %>
          <%= image_tag("landing_page/quizzing_section/3.jpg", class: "card-img", alt: "Card image") %>
          <div class="card-img-overlay category-card-image">
            <h4 class="card-title font-weight-bold">CORPORATE</h4>
          </div>
          <% end %>
        </div>
      </div>
      <div class="carousel-item" data-multiple-images-target="card3">
        <div class="card category-card col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent">
          <%= link_to venues_path do %>
          <%= image_tag("landing_page/quizzing_section/3.jpg", class: "card-img", alt: "Card image") %>
          <div class="card-img-overlay category-card-image">
            <h4 class="card-title font-weight-bold">CHARITY</h4>
          </div>
          <% end %>
        </div>
      </div>
      <div class="carousel-item" data-multiple-images-target="card4">
        <div class="card category-card col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent">
          <%= link_to venues_path do %>
          <%= image_tag("landing_page/quizzing_section/5.jpg", class: "card-img", alt: "Card image") %>
          <div class="card-img-overlay category-card-image">
            <h4 class="card-title font-weight-bold">PRIVATE</h4>
          </div>
          <% end %>
        </div>
      </div>
      <div class="carousel-item" data-multiple-images-target="card5">
        <div class="card category-card col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent">
          <%= link_to venues_path do %>
          <%= image_tag("landing_page/quizzing_section/6.jpg", class: "card-img", alt: "Card image") %>
          <div class="card-img-overlay category-card-image">
            <h4 class="card-title font-weight-bold">VIRTUAL</h4>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#quizzing-categories-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#quizzing-categories-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<%# END OF CAROUSEL %>
  </div>
</div>

<hr class="dividing-line-black">

<%# KARAOKE SECTION %>
<div id="karaoke-section" class="mt-4 mb-4 container-fluid">
  <h1>KARAOKE</h1>

  <div id="karaoke-categories-carousel" class="carousel" data-interval="false">
    <div class="carousel-inner" data-controller="karaoke-carousel">

      <div class="carousel-item active" data-karaoke-carousel-target="card1">
        <div class="card category-card karaoke-card col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent">
          <%= link_to corporate_karaoke_path do %>
          <%= image_tag("landing_page/karaoke_section/7.jpg", class: "card-img", alt: "Card image") %>
          <div class="card-img-overlay category-card-image">
            <h4 class="card-title font-weight-bold">CORPORATE</h4>
          </div>
          <% end %>
        </div>
      </div>

      <div class="carousel-item" data-karaoke-carousel-target="card2">
        <div class="card category-card karaoke-card col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent">
          <%= link_to corporate_karaoke_path do %>
          <%= image_tag("landing_page/karaoke_section/8.jpg", class: "card-img", alt: "Card image") %>
          <div class="card-img-overlay category-card-image">
            <h4 class="card-title font-weight-bold">LIVE PIANO</h4>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#karaoke-categories-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#karaoke-categories-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<hr class="dividing-line-black">

<%# WHO WE ARE SECTION %>
<div id="who-we-are-section" class="mt-4 mb-4 container-fluid">
  <h1>ABOUT QUIZ DOG</h1>

  <div id="about-categories-carousel" class="carousel" data-interval="false">
    <div class="carousel-inner" data-controller="about-carousel">

      <div class="carousel-item active" data-about-carousel-target="card1">
        <div class="card category-card about-card col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent">
          <%= link_to corporate_karaoke_path do %>
          <%= image_tag("landing_page/about_section/9.jpg", class: "card-img", alt: "Card image") %>
          <div class="card-img-overlay category-card-image">
            <h4 class="card-title font-weight-bold">OUR STORY & HOSTS</h4>
          </div>
          <% end %>
        </div>
      </div>

      <div class="carousel-item" data-about-carousel-target="card2">
        <div class="card category-card about-card col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent">
          <%= link_to corporate_karaoke_path do %>
          <%= image_tag("landing_page/about_section/10.jpg", class: "card-img", alt: "Card image") %>
          <div class="card-img-overlay category-card-image">
            <h4 class="card-title font-weight-bold">SUSTAINABILITY</h4>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#about-categories-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#about-categories-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
 </div>

<hr class="dividing-line-black">

<div id="contact-us-section" class="mt-4 mb-5 container-fluid d-flex flex-column align-items-center">
  <h1 class="contact-us-title">CONTACT US</h1>

  <div class="social-media">
    <%= link_to "https://www.instagram.com/quizdog/", target: "_blank" do %>
      <%= image_tag("landing_page/social_media/1.jpg", class: "social-media-img", alt: "Instagram Logo") %>
    <% end %>
    <%= link_to "https://www.facebook.com/quizdog/", target: "_blank" do %>
      <%= image_tag("landing_page/social_media/2.jpg", class: "social-media-img", alt: "Facebook Logo") %>
    <% end %>
    <%= link_to "https://www.linkedin.com/company/quiz-dog/", target: "_blank" do %>
      <%= image_tag("landing_page/social_media/3.jpg", class: "social-media-img", alt: "Threads Logo") %>
    <% end %>
    <%= link_to "https://www.linkedin.com/company/quiz-dog/", target: "_blank" do %>
      <%= image_tag("landing_page/social_media/4.jpg", class: "social-media-img", alt: "LinkedIn Logo") %>
    <% end %>
  </div>
</div>

<%#
<div id="sustainability-section" class="d-flex flex-column align-items-center container-fluid">
  <div class="col-lg-8 col-md-8 col-sm-12 d-flex flex-column align-items-center">
    <h1>SUSTAINABILITY</h1>
    <h4>Carbon Footprintp</h4>
    <div class="text-bubble-green">
      <p class="mb-0">
        We take our environmental duties very seriously here at Quiz Dog. Between answer sheets and ink for picture rounds, the carbon footprint of a quiz can expand to those sasquatch prints in the snow.
        We decided to make a difference and put everything online. No easy task given the access to Google, but with our anti-cheating measures, we are confident we have the greenest events company on the market. We are always looking for ways in which we can go even further with lessening our environmental impact and are striving for complete carbon neutrality.
      </p>
    </div>
    <h4 class="mt-3">Planting trees, ecologi online</h4>
    <div class="text-bubble-green">
      <p class="mb-0">
        One of the ways in which we are doing our bit for mother earth is by promising to plant a tree for every corporate client we have playing the quiz. This is done in partnership with the amazing people over at Ecologi (a B-Corps certificate company).
        Click here to see how many trees we’ve planted!
      </p>
    </div>
  </div>
<div id="contact-section" class="d-flex flex-column container-lg align-center">
  <h1 class="d-flex justify-content-center">CONTACT QUIZDOG</h1>
</div> %>


<%# TESTIMONIALS %>
<%# <div class="row justify-content-evenly bg-success">
  <div class="col-3">
    <div class="home-testimonial-card">
      <p> "Confident and proud to say that we've got the best quiz in Deptford." Gina, Manager at the Brookmill </p>
      <%= image_tag("gina.png", class: "avatar") %>
    <%# </div>
  </div> %>

  <%# <div class="col-3">
     <div class="home-testimonial-card">
      <p> "Confident and proud to say that we've got the best quiz in Deptford." Gina, Manager at the Brookmill </p>
      <%= image_tag("gina.png", class: "avatar") %>
    <%# </div>
  </div> %>

   <%# <div class="col-3">
     <div class="home-testimonial-card">
      <p> "Confident and proud to say that we've got the best quiz in Deptford." Gina, Manager at the Brookmill </p>
      <%= image_tag("gina.png", class: "avatar") %>
    <%# </div>
  </div>
</div> %>
