
<%# CAROUSEL WITH BACKGROUND IMAGES + LOGO AND BUTTONS %>
<div class="top mb-5">
  <div id="home-page-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item carousel-image bg-img-1 active"></div>
      <div class="carousel-item carousel-image bg-img-2"></div>
      <div class="carousel-item carousel-image bg-img-3"></div>
    </div>
    <div class="row home-page-buttons justify-content-center mt-3">
     <div class="col-10 d-flex justify-content-center">
      <%= image_tag("logo.png", class: "logo mb-3 mt-5 img-fluid", alt: "quizmaster logo") %>
    </div>
      <div class="col-md-12 col-sm-12 d-flex justify-content-center btn-block">
        <h5 class="btn-56"><%= link_to 'FIND A QUIZ', venues_path %></h5>
      </div>
      <div class="col-md-12 col-sm-12 d-flex justify-content-center">
        <h5 class="btn-56"><%= link_to 'START A QUIZ!', start_a_quiz_path %></h5>
      </div>
      <div class="col-md-12 col-sm-12 d-flex justify-content-center">
        <h5 class="btn-56"><%= link_to 'HOST YOUR OWN', host_your_own_path %></h5>
      </div>
    </div>
  </div>
</div>


<%# QUIZZING SECTION %>
<div id="quizzing-section" class="d-flex mt-5 mb-5 flex-column container-lg">
  <h1 class="d-flex justify-content-center mb-3">QUIZZING</h1>

    <div class="row category-cards gx-0 justify-content-evenly">

      <div class="card category-card m-2 col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent d-flex">
        <%= link_to venues_path do %>
        <div class="quizzing-category-img-1 category-image position-relative">
          <h4 class="card-title font-weight-bold align-self-end">PUBS</h4>
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <% end %>
      </div>


      <div class="card category-card m-2 col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent">
        <%= link_to corporate_path do %>
        <div class="quizzing-category-img-2 category-image position-relative">
          <h4 class="card-title font-weight-bold align-self-end">CORPORATE</h4>
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. </p>
        </div>
        <% end %>
      </div>

      <div class="card category-card m-2 col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent">
        <%= link_to charity_path do %>
        <div class="quizzing-category-img-3 category-image position-relative">
          <h4 class="card-title font-weight-bold align-self-end">CHARITY</h4>
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<%# KARAOKE SECTION %>
<div id="karaoke-section" class="d-flex mt-5 mb-5 flex-column container-lg">
  <h1 class="d-flex justify-content-center mb-3">KARAOKE</h1>

    <div class="row category-cards karaoke-cards gx-0 justify-content-center">

      <div class="card category-card karaoke-card m-2 col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent d-flex">
        <%= link_to corporate_karaoke_path do %>
        <div class="quizzing-category-img-1 category-image position-relative">
          <h4 class="card-title font-weight-bold align-self-end">CORPORATE</h4>
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <% end %>
      </div>


      <div class="card category-card karaoke-card m-2 col-lg-3 col-md-6 col-sm-12 border-0 bg-transparent">
        <%= link_to piano_karaoke_path do %>
        <div class="quizzing-category-img-2 category-image position-relative">
          <h4 class="card-title font-weight-bold align-self-end">PIANO</h4>
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. </p>
        </div>
        <% end %>
      </div>

    </div>
</div>

<%# WHO WE ARE SECTION %>
<div id="who-we-are-section" class="d-flex flex-column">
  <h1 class="d-flex justify-content-center">WHO WE ARE</h1>
</div>

<%# WHO WE ARE SECTION %>
<div id="contact-section" class="d-flex flex-column">
  <h1 class="d-flex justify-content-center">CONTACT QUIZDOG</h1>
</div>


<%# TESTIMONIALS %>
<%# <div class="row justify-content-evenly bg-success">
  <div class="col-3">
    <div class="home-testimonial-card">
      <p> "Confident and proud to say that we've got the best quiz in Deptford." Gina, Manager at the Brookmill </p>
      <%= image_tag("gina.png", class: "avatar") %>
    <%# </div>
  </div> %>

  <%# <div class="col-3">
     <div class="home-testimonial-card">
      <p> "Confident and proud to say that we've got the best quiz in Deptford." Gina, Manager at the Brookmill </p>
      <%= image_tag("gina.png", class: "avatar") %>
    <%# </div>
  </div> %>

   <%# <div class="col-3">
     <div class="home-testimonial-card">
      <p> "Confident and proud to say that we've got the best quiz in Deptford." Gina, Manager at the Brookmill </p>
      <%= image_tag("gina.png", class: "avatar") %>
    <%# </div>
  </div>
</div> %>
