<div class="banner-container">
  <div class="page-banner banner-video-pubs">
    <h1 class="page-title title-charity">PUB QUIZZES</h1>
    <%= video_tag "quiz_dog_video.mp4",
        id: "pubs-video",
        autoplay: :autoplay,
        loop: :loop,
        muted: true,
        playsinline: true,
        webkit_playsinline: true %>
  </div>
</div>

<div class="container position-relative">
  <div class="d-flex justify-content-evenly">
    <div class="col-4 col-md-4 col-lg-4 d-flex flex-column overlap-column">
      <div class="overlap-image-container">
        <%= image_tag "pubs/5.png", class: "img-fluid shakespeare-dog-img" %>
        <%= link_to venues_path, class: "overlap-button" do %>
          <div class="text-bubble text-bubble-yellow button-bubble">
            <h5 class="find-venue-button mb-0">FIND A VENUE NEAR YOU</h5>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-7 col-md-8 col-lg-8">
      <div class="d-flex justify-content-center">
        <h3 class="title-align-center">COME A QUIZZING, YOU FLEA RIDDEN SCOUNDRELS!</h3>
      </div>

      <div class="text-bubble text-bubble-yellow">
        <p>
          Fancy the funnest challenge you can have in a pub?
          Fancy winning loads of prizes?
        </p>
        <p class="empty-line"></p>
        <p>
          Fancy learning something whilst damaging close friendships? Sick of the
          same egg heads winning every week?
        </p>
        <p class="empty-line"></p>
        <p>
          If yes, Quiz Dog has you covered. We have venues
          all across London (and one in America) that blow
          the rest out of the water. Everything’s done on your
          phone too, because we want to save this planet
          one sheet of paper at a time!
        </p>
        <p class="empty-line"></p>
        <p>
          And with our anti-cheating measures, you can’t lose
          (unless you score fewer points than the other teams)!!!
        </p>
      </div>
    </div>
  </div>
</div>

<div class="dividing-line-black dividing-line-pubs-page"></div>

<div class="container join-pack-container" id="join-us-at-your-pub">
  <h3>JOIN THE QUIZ DOG PACK AT YOUR PUB!</h3>
  <div class="text-bubble text-bubble-yellow">
    <div class="poker-image">
      <%= image_tag "pubs/6.png", class: "img-fluid overlap-right-image", alt: "illustration of dogs quizzing"  %>
    </div>
    <p>
      Above everything here at Quiz Dog, the thing we are most proud of is our
      amazing team of passionate Quizmasters. However, we understand that
      margins are tight at the minute and sometimes cost cutting is not preferred,
      but a necessity. Well, we have you covered.
    </p>
    <p class="empty-line"></p>
    <p>
      Our quizmasters are an array of comedians, actors, and broadcasters that
      know how to work a crowd. When we provide a venue with a quizmaster,
      they’re in for the long haul. We think it’s so important for there to be a
      great rapport between venue, performer, and audience. If for some reason
      the quizmaster can’t make it, don’t despair! Quiz Dog has a team of
      dedicated and experienced <%= link_to "professionals", about_us_path(anchor: 'our-team') %> that are more than happy to step in.
    </p>
    <p class="empty-line"></p>
    <p>
      A Quiz Dog quiz is written and performed with each location in mind. No two
      venues are the same, and here at Quiz Dog we want to guarantee that your
      venue’s event is the best event it’s possible to have. With this in mind, our
      quizzes are flexible. If you want bonus rounds, we have them ready. If you
      want a shorter quiz, no problem. We work closely with each venue to
      guarantee the perfect event for your venue.
    </p>
    <p class="empty-line"></p>
    <p>
      On average, a quiz lasts two hours, and we’re always mindful that our events
      are usually on school nights.
    </p>
  </div>
</div>

<%= link_to "http://www.conaldeeney.com", target: "_blank" do  %>
  <%= image_tag "pubs/the_tiger.jpg", class: "tiger-banner", alt: "An illustration of a tiger" %>
<% end %>

<div class="dividing-line-black"></div>

<div class="container access-quizdex-section" id="host-your-own">
  <h3>HOST YOUR OWN - ACCESS QUIZDEX</h3>
  <div class="text-bubble text-bubble-yellow">
    <p>
      Above everything here at Quiz Dog, the thing we are most proud of is our amazing team of passionate
      Quizmasters. However, we understand that margins are tight at the minute and sometimes cost cutting
      is not preferred, but a necessity. Well, we have you covered.
    </p>
  </div>
</div>

<div class="empty-space-responsive"></div>

<div class="container">
  <div class="row justify-content-evenly">
    <div class="testimonial-card col-4 col-md-3 col-lg-2">
      <%= image_tag("pubs/patrick_testimonal.png", alt: "Picture of Patrick McLean") %>
      <div class="testimonial-title-section testimonial-title-red">
        <h4 class="title-align-center"> Patrcik McLean</h4>
        <p class="align-left">Freelance Event Consultant (Formerly Head of Business Development at Zebrano Soho)<p>
      </div>
    </div>
    <div class="text-bubble text-bubble-yellow col-6 col-md-7 col-lg-8">
      <p>
        “Working with Quizdog has been an absolute pleasure since day one.
        The company’s founder Joe has a very hands-on approach, with a team whose creativity
        ensures every occasion is nothing short of fantastic. Guests love their events,
        whether it's a pub quiz, themed night or corporate bash and Quizdog's ability to specifically
        tailor each one is exceptional. The company quickly became an integral part of our event
        services during my time at Zebrano Soho, consistently delivering memorable experiences.
        Their professionalism, energy and passion shine through in everything they create.
        It's been a blast collaborating with them, and I look forward to many more successful
        projects together.”
    </div>
  </div>
</div>

<div class="dividing-line-black"></div>

<div class="d-flex justify-content-center">
  <%= link_to "Contact Us", contact_us_path %>
</div>
<div class="lightbulb-container">
  <%= image_tag "pubs/7.png", class: "lightbulb-image" %>
</div>

<div class="empty-space-responsive"></div>
