<h1>Our pubs</h1>

<div class="container-venues-map">
  <div class="cards">
    <% @venues.each do |venue| %>
    <div class="card-venue-category">
      <% if venue.photo %>
      <%= cl_image_tag venue.photo.key %>
      <% end %>
      <div class="card-venue-info">
        <h5><%= venue.name %></h5>
        <p>hosted by <%= link_to venue.quizmaster.name, quizmaster_path(venue.quizmaster) %>
          <%# <%= cl_image_tag venue.quizmaster.photo.key %>
        </p>
        <div class="card-venue-time">
          <p><%= venue.day_of_the_week.upcase %> at</p>
          <p><%= venue.time.strftime('%H:%M') %></p>
        </div>
        <p>
          <%# <i class="fa-sharp fa-solid fa-location-dot"></i> %>
          <%= venue.address.partition(" London ").first%>
          <%= venue.address.partition(" London ").last%>
        </p>
        <p>
          <%# <i class="fa-solid fa-square-phone"></i> %>
          <%= venue.phone_number %>
        </p>
      </div>
    </div>
    <% end %>
  </div>

  <div id="map" style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
